<component name="libraryTable">
  <library name="springframework.spring.beans" type="repository">
    <properties maven-id="org.springframework:spring-beans:6.0.4" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/6.0.4/spring-beans-6.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.0.4/spring-core-6.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.0.4/spring-jcl-6.0.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-beans-6.0.4-sources.jar!/" />
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-beans-6.0.4-sources.jar!/" />
    </SOURCES>
  </library>
</component>